body, html {
    height: 100%;
    margin: 0;
    background-image: url(../images/map.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1400px 620px;
    background-attachment: fixed;
}
.clickable-area {
    position: absolute;
    cursor: pointer;
}

.entrance {
    top: 150px;
    left: 330px;
    width: 150px;
    height: 150px;
}
.drinng-room {
    top: 265px;
    left: 590px;
    width: 170px;
    height: 170px;
}
.library {
    top: 350px;
    left: 330px;
    width: 170px;
    height: 150px;
}
.auting-room {
    top: 150px;
    left: 850px;
    width: 180px;
    height: 150px;
}
.droiwing-room {
    top: 350px;
    left: 850px;
    width: 200px;
    height: 150px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 150%;
    font-weight: bold;
    margin-left: 60px;
}

.text {
    margin-right: 1150px;
    margin-left: 10px;
}