body {
    background-image: url(../images/library.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 30px;
    color: white;
}

.clickable-area {
    position: absolute;
    cursor: pointer;
}

.map {
    top: 435px;
    left: 400px;
    width: 600px;
    height: 170px;
}

.indice_1 {
    top: 220px;
    left: 150px;
    width: 100px;
    height: 50px;
}

.indice_2 {
    top: 130px;
    left: 930px;
    width: 100px;
    height: 50px;
}

.indice_3 {
    top: 280px;
    left: 525px;
    width: 100px;
    height: 50px;
}

.indice_4 {
    top: 450px;
    left: 140px;
    width: 100px;
    height: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 150%;
    font-weight: bold;
}

li {
    margin-left: 170px;
    list-style-type: none;
}

#countdown {
    display: flex; /*Permet des les garde sur la même ligne au lieu de faire un retour à la ligne*/
    align-items: center; /*Centre les éléments à l'intérieur de la div*/
    justify-content: center;
    gap: 10px; /*espace entre chaque div countdown*/
}

.tag_countdown {
    width: 80px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    background: rgba(22, 180, 1, 0.705); /*#000*/
    opacity: 1; /*Gerer la transparance*/
    color: #000;
    text-align: center;
}

.value_countdown {
    display: block;
    font-weight: 700;
    font-size: 30px;
}

.label_countdown {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.countdown_end{
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    background: red;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}